.message{
    width: fit-content;
    padding: 10px;
    margin: 10px;
}

.message__user{
    margin-left: auto;
    color: white;
    text-align: left !important;
}

.message__usercard{
    background-color: rgb(74, 166, 219) !important;
}

.message__guestcard{
    background-color: white !important;
}